{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Glen Noworyta's Life Storage Project</title>
  <link rel="stylesheet" type="text/css" href="{% static 'storage/style.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div id="main">
<h1 class="sectionTitle">Glen Noworyta's Life Storage Project</h1>
<div class="sep"></div>

  <ul id="filters" class="noList">
    <li id="filtertoggle"><span>Filters</span> <a class="btn mobFilter">Filters <i class="fas fa-plus"></i></a></li>
    <form method="get" id="filterform">
      <li>
        {{ filter.form.broadSizeCategory }}
      </li>
      <li>
        {{ filter.form.strSpecial }}
      </li>
      <li>
        {{ filter.form.strUnitType }}
      </li>
      <li>
        {{ filter.form.ftruckrental }}
      </li>
    </form>
  </ul>

  <!-- {% for x in filter.dstnct %}
    <h4>{{ x }}</h4>
  {% endfor %} -->

  <ul id="rows" class="noList">
    {% for str in filter.dstnct %}
        <li class="storeRow">
          {% if str.strSpecial__max == 'W' or str.strSpecial__max == 'X' %}
            <div class="special"> <i class="fas fa-tag"></i> <img src="https://www.lifestorage.com/assets/img/storephotos/life-storage-840-1-facility-07122018.jpg" alt="Life Storage" class="storePhoto"></div>
          {% else %}
            <img src="https://www.lifestorage.com/assets/img/storephotos/life-storage-840-1-facility-07122018.jpg" alt="Life Storage" class="storePhoto">
          {% endif %}
            <ul class="storeDetails noList">
              <li><strong>Store #{{ str.storenum }}</strong></li>
              {% if str.strSpecial__max == 'X' %}
                <li class="unitSpecial">Second Month Free</li>
              {% endif %}
              {% if str.strSpecial__max == 'W' %}
                <li class="unitSpecial">50% Off Second Month</li>
              {% endif %}
              <li>
                <span>{{ str.address }}</span>
                {{ str.city }}, {{ str.st }}, {{ str.postalcode }}
              </li>
              <li>Phone: {{ str.phone }}</li>
            </ul>
            <div class="price">
            as low as
            <strong>Price: ${{ str.dblcurrentrate__min }}</strong>
             <a class="btn">Continue</a>
            </div>
        </li>
    {% empty %}
      <h2>No stores found! Please search again.</h2>
    {% endfor %}
  </ul>
  
<script>
    $(".mobFilter").click(function() {
    $("#filters li").toggleClass("show");
    $("i", this).toggleClass("fas fa-plus fas fa-minus");
  });
</script>

</div>  
</body>
</html>
